body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

audio {
	display: none;
}

h1 {
    margin: 0;
    background: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

.user {
    background: #4caf50;
    color: #fff;
    align-self: flex-end;
    margin-left: auto;
}

.bot {
    background: #eee;
    color: #333;
}

#chat-form {
    display: flex;
    padding: 10px;
	gap: 2px;
    background: #fff;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#button-form {
	display: flex;
	justify-content: flex-end;
	gap: 2px;
}

button {
    background: #4caf50;
    color: #fff;
	height: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
	background: white;
	color: black;
}

#speak-button {
	background: url(/static/mic_icon.png);
	background-size: cover;
	width: 40px;
}

#speak-button:active {
	background: url(/static/mic_icon_active.png);
	background-size: cover;
}

canvas {
    display: block;
    margin: 20px;
    background-color: #f0f0f0;
    border: 2px solid #333;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .chat-container {
        width: 90%; /* Ocupa casi todo el ancho de la pantalla */
        margin: 10px auto;
    }

    canvas {
        width: 100%; /* Ajusta el ancho del canvas al contenedor */
        height: auto; /* Mantén la proporción */
        margin: 10px 0;
    }

    #chatbox {
        height: 300px; /* Reduce la altura para que quepa mejor */
    }

    #chat-form {
        flex-direction: column; /* Cambia los botones y el input a una disposición vertical */
        gap: 10px; /* Espacio entre los elementos */
    }

    #user-input {
        width: 95%;
    }
	
	#button-form {
		display: flex;
		justify-content: flex-end;
		gap: 2px;
	}

    button {
		height: 40px;
    }

    #speak-button {
		width: 40px;
        background-size: cover; /* Asegura que el ícono se ajuste */
    }
}